
<div class="flex flex-column">

  <span class="text-lg mb-4"> Registro </span>

  <mat-form-field>
    <mat-label>Crea tu Usuario</mat-label>
    <input type="text" matInput placeholder="Crea Tu Usuario">
  </mat-form-field>

  <mat-form-field>
  <mat-label>Tu Nombre</mat-label>
    <input type="text" matInput placeholder="Pon Tu Nombre Real">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Crea tu contraseña</mat-label>
    <input type="password" matInput placeholder="Crea tu Contraseña">
  </mat-form-field>

  <button mat-button mat-flat-button color="primary">
    <mat-icon>save</mat-icon>
    Ingresar
  </button>

  <div class="flex justify-content-end mt-5"></div>
    <a routerLink="/auth/login">¿Ya Tienes Cuenta?</a>
  </div>
